@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body{
  margin: 0;
  padding: 0;
  padding-top: 100px;
  font-family: Roboto;
  color: white;
  height: 100vh;
  background-color: black;
  display: grid;
  justify-items: center;

}

.container{
  width: auto;
  height: 500px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto 1fr;
}

.game-info{
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  height: 19px;
}

.gameboard{
  height: 500px;
  width: 500px;

  background-color: white;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1/2;
  grid-row: 2/3
}

.board-box{
  background-color: black;
  box-sizing: border-box;
  font-size: 8em;
  color:white;
  font-weight: bold;
  display: grid;
  justify-items: center;
  align-items: center;
}


.player-info{
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 500px;
}

.player, 
.tie{
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
  justify-items: center;

  font-size: 1.125em;
  text-transform: uppercase;
}

.player-name{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;
}

.player1-name,
.player2-name{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  background-color: inherit;
  text-align: center;
  border: 0.5px solid white;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  max-width: 123px;
}

.player1-score,
.player2-score,
.tie-score{
  font-size: 2.25em;
}

.active-player{
  color: red;
}

.active-player-input{
  color: red;
  border: 0.5px solid red;
}

.game-controls{
  grid-column: 1/2;
  grid-row: 4/5;

  background-color:bisque /* Using bisque for formatting, will update later */
}